/* *{
   
} */


.container {
    width: 35%;
    border: solid 1px rgb(128, 0, 128);
    box-shadow: 1px 1px 2px 2px rgb(128, 0, 128);
    /* box-shadow: 1px 1px 2px 2px rgb(55, 157, 204); */
    margin-top: 5%;
}

#timeLeft {
    /* text-align: center; */
    color: black;
    font-weight: bolder;
    /* padding-top: 14px; */
    margin-top: 5px;
    list-style: none;
}

.timeover {
    text-align: center;
}

.logo1 {
    text-align: center;
    width: 100%;
}

.logo2 {
    width: 200px;
    height: 200px;
}

#next {
    background-color: purple
}

.net {
    text-align: center;
    padding-bottom: 5%;
}

#nav {
    background-color: purple
}

#navbarDropdown {
    color: #fff;
}

.text {
    color: white;
    padding-top: 10px;

}

#examContainer {
    color: black;
    font-weight: 1000;
    text-align: justify;
}

#optionContainer {
    color: black;
    font-weight: 500;
    text-align: justify;
    padding-top: 3%;
}

.logout {
    color: white;
    text-decoration: none
}

#ola {
    color: white;
    text-decoration: none
}