.futa {
    /* margin-top: 5px; */
    text-align: center;
    padding-bottom: 20px;
}

#login {
    font-weight: 1000;
    color: black;
}

.back {
    background-image: url(futa2.jpg);
    animation: back 30s linear infinite 0s;
    animation-timing-function: ease-in-out;
    /* background-repeat: ;
    background-size: cover;
    background-position-y: 50%; */
}

@keyframes back {

    0% {
        background-image: url(futa2.jpg);
        background-repeat: repeat;

    }

    25% {
        background-image: url(futa5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    50% {
        background-image: url(futa5.webp);
        background-repeat: repeat
    }

    75% {
        background-image: url(futa7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    100% {
        background-image: url(futa8.jfif);
        background-repeat: no-repeat;
        background-size: cover;
    }


}


.form-group {
    background-color: purple;
    margin-top: 15px;
}


.opa {
    /* background-color: rgba(0, 0, 0, 0.5) */
    background-color: rgba(248, 243, 247, 0.7);
}

.signInBackg {
    background-color: purple;
    animation: animate 5s infinite;
    padding: 30px;
    height: 400px;

    margin-top: 20px;
    /* padding-bottom: 40px; */
    /* border: 5px purple;
    border-style: dotted; */
    border-radius: 20px;
    filter: drop-shadow(69%);
}

@keyframes animate {

    0% {
        filter: hue-rotate(20deg);

        /* transform: rotate(30deg); */
    }

    100% {

        filter: hue-rotate(360deg);
        /* transform: rotate(60deg); */
    }

    /* media query settings */
}

/* 
/* media query settings end */

h6 {
    text-align: center;
    padding-top: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 100px;
    color: white;
    /* margin-bottom: 10px; */
}

#ola {
    color: white;
    text-decoration: none
}

#myform {
    width: 400px;
}