.bg-warning{
    opacity: 90%;
}


.imagelg{
    /* width: 150px;
    height: 24px; */
    margin-left: 20px;
}

.banner-text h2{
    font-size: 60px;
    margin-top: 250px;
    font-weight: 750;
    font-family: 'Laila', sans-serif;
}
*{
    font-family: 'Laila', sans-serif;
    
}

.banner-text p{
    font-weight: 500;
    font-family: 'Laila', sans-serif;
}
.banner-text{
    margin-left: 50px;
    font-size: 20px
}
.banner-text2 h2{
    font-size: 40px;
    margin-top: 200px;
    font-weight: 800;

}
.img-fluid{
    margin-top: 200px;
}

.card{
    border: none
}
.card-deck{
    margin-left: 12%;
    
}
.buttonhead{
    text-align: center;
}

.card-title{
    margin-top: 50px;
    font-weight: 400;
}

.next{
    margin-top: 50px;
    font-size: 16px;
    }

.next h2{
    font-weight: 600;   
}
.next h5{
    font-weight:700;
}

.section2{
    margin-top: 10%;
    margin-left: 50px
}


.img-flu{
    margin-top: 55px;
}

.real li{
    list-style: none;
    margin-left: 10px;
}


.d-flex{
    margin-top: 20px;
}

.tick{
    width: 35px;
    height: 35px;
    margin-top: 10px;
}

.img-flud{
    margin-top: 55px;
}

.house{
    text-align: center;
    margin-top: 250px;
}

.house1{
    margin-top: 20px;
}

.btn-warning{
    background-color: rgb(255, 115, 0);
    margin-top: 20px;
   
}

.section3{
    margin-top:70px;
    margin-left: 70px;
    margin-bottom: 70px
}
.card{
    margin-left: 70px;
    color: black;
}
.row justify-content{
    
    margin: 50px;
}

.imglg{
    margin-left: 20%;
}

.productly{
    font-family: 'Lobster Two', cursive;
}
.hope{
    margin-top: 50px;
}





