*{
    padding: 0;
    margin: 0;
}

.secto{
    background-color: #111;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.secto .row{
    top: -50%;
    position: relative;
    width: 100%;
    display: flex;
    white-space: nowrap;
    font-size: 64px;
    padding: 10px 0;
    transform: rotate(-30deg);
}

i{
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 1s;
    padding: 0 5px;
    user-select: contain;
}
i:hover{
    transition: 0s;
    color: rgb(255, 0, 0);
    text-shadow: 0 0 180px rgb(60, 255, 0);
}
.secto .row div{
    animation: animate 80s linear infinite;
    animation-delay: -80s;
}
.secto .row div:nth-child(2){
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate {
    0%{
        /* filter: hue-rotate(30deg);  */
        transform: translateX(100%);
    }
    100%{
       /* filter: hue-rotate(180deg); */
        transform: translateX(-100%);
    }
    
}
@keyframes animate2 {
    0%{
        /* filter: hue-rotate(-180deg); */
        transform: translateX(0%);
    }
    100%{
        /* filter: hue-rotate(180deg); */
        transform: translateX(-200%);
    }
    
}
.secto .row:nth-child(even) div{
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}
.secto .row:nth-child(even) div:nth-child(2){
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate3 {
    0%{
        /* filter: hue-rotate(100deg); */
        transform: translateX(-100%);
    }
    100%{
        /* filter: hue-rotate(30deg); */
        transform: translateX(100%);
    }
    
}
@keyframes animate4 {
    0%{
        /* filter: hue-rotate(60deg); */
        transform: translateX(-200%);
    }
    100%{
        /* filter: hue-rotate(0deg); */
        transform: translateX(0%);
    }
    
}